[2016-03-28 17:15] IonicaBizau opened #2 "Support for spawn"
Instead of `exec`, some people (including me) would like to use `spawn`. Can you please add support for `spawn` too?

Thanks for the nice project! :sparkles:

[2016-03-28 17:22] automation-stack commented on #2
@IonicaBizau Do you mean only sudo.spawn alias for convenience or internal module subprocess spawn-behavior?

[2016-03-28 18:03] IonicaBizau commented on #2
@automation-stack  `sudo.spawn` should call `Node.child.spawn`. It's handy especially because of the `args` option.

[2016-03-28 19:06] automation-stack commented on #2
@IonicaBizau ok, i will do it now

[2016-03-28 19:06] IonicaBizau commented on #2
@automation-stack Thanks! :grin:

[2016-03-29 15:57] automation-stack commented on #2
@IonicaBizau I tried to do it. Unfortunately, in the current architecture of the module this will not work cross-platform.

[2016-03-29 15:58] IonicaBizau commented on #2
@automation-stack Hmm, why?

[2016-03-30 17:34] automation-stack commented on #2
@IonicaBizau Inside the module is used a lot of platform specific shell-magic, I plan to rewrite it entirely in modern javascript with more simple and successful architecture and it will support spawn-behavior. Unfortunately this will happen a little later.

[2016-03-30 17:37] IonicaBizau commented on #2
@automation-stack Sounds good! No rush, but I felt it as limitation when implementing it for somebody.

[2016-03-30 17:42] automation-stack commented on #2
@IonicaBizau I agree with you, thank you for the feedback

[2016-03-30 17:42] #2 closed

[2016-04-05 00:41] kdzwinel opened #3 "Windows cannot find..."
Thanks for a great project! It works perfectly on OSX, but I can't make it work on windows 10:

<img width="932" alt="screen shot 2016-04-05 at 02 03 32" src="https://cloud.githubusercontent.com/assets/985504/14268083/6902c362-fad7-11e5-96a1-b65d7a685fc2.png">

Same thing happens for `echo hello` and any other program I'm trying to execute. Calling it directly via `child_process.exec` works just f

[2016-04-05 00:43] automation-stack commented on #3
@kdzwinel thanks for this issue, i will fix it tomorrow

[2016-04-05 00:47] kdzwinel commented on #3
Oh wow, thanks Alex for a quick response :+1: I'll try to diagnose it a bit more and, hopefully, give you some more details.

[2016-04-05 00:51] automation-stack commented on #3
@kdzwinel I have found the cause of the problem and fixed it, it is necessary to check that under different versions windows is all ok. tomorrow i will publish this fix

[2016-04-07 20:30] kdzwinel commented on #3
Let me know if you need any help! Also, I'll be glad to test it on osx and win10.

[2016-04-10 05:25] gdowens opened #6 "How to read & update source"
[edit] At first I was confused about how to see what was happening in each platform-specific binary. After some poking, I see the "binaries" are stupidly simple.

Feel like it's worth a short section describing how to edit/update those that are in immediately unreadable formats.

[2016-04-10 14:20] automation-stack commented on #6
@gdowens I'll add the source code for this tools in the next version after complete refactoring.

[2016-04-10 18:32] automation-stack commented on #3
@kdzwinel fixed in 3.0.4

[2016-04-10 18:36] automation-stack commented on #3
@kdzwinel on win32 platform there is a race condition bug with retrieving output from subprocess but it will be fixed later with module refactoring.

[2016-04-11 18:30] gdowens commented on #6
👍 Great, many thanks.

[2016-04-12 12:50] #6 closed

[2016-04-12 12:50] #3 closed

[2016-04-29 06:01] marco-amoroso opened #10 "'Error: Command failed' in Mac and double Dialog"
It seems to be related to the the `-s` flag on the `sudo` command.

I get an `Error: Command failed`:
[code]

Without the `-s` flag it runs but I get first the Custom Dialog from `electron-sudo` and then one from the Native one.

Here is my code:
[code]

I'm probably doing it wrong, apologies

[2016-05-19 16:27] automation-stack commented on #10
@marco-amoroso
Unknown reasons, at first glance, it is necessary to understand what was going on

[2016-05-21 10:18] waltervargas opened #11 "Sudo: no tty present"
Hi @automation-stack,

I am having the following error:

`sudo: no tty present and no askpass program specified`
`a password is required`

![Image of Yaktocat]
(https://cldup.com/KdQIhBY0EB-600x600.png)

Can you please guide me ?

Thank you.

[2016-05-23 10:01] automation-stack commented on #11
@waltervargas try to put command to separate shell script and execute it with sudo.
use piping symbol in subprocess command is not the best practice, much better to do like this

[code]

[2016-05-23 14:03] waltervargas commented on #11
Thank you very much @automation-stack, I test it by today, right now going to buy food :)

[2016-05-23 17:17] waltervargas commented on #11
sorry @automation-stack, how I can run it with sudo from the Electron code, the thing is that the users don't have Node installed on the machines.

[2016-05-23 17:28] automation-stack commented on #11
@waltervargas
1. Put your command pipeline into separate shell script, e.g. `command.sh`
2. Set execution flag on you shell script with `chmod +x command.sh`
3. Execute it with `sudo.exec('./command.sh', options, function(error) {});` in your Electron application.

[2016-05-23 17:38] automation-stack commented on #10
@marco-amoroso
Could you provide full logs (exit code, stdout-stderr output)?
It correctly works on my OS X El Captain.

[2016-05-23 19:52] waltervargas commented on #11
@automation-stack I want to open the file `/etc/hosts` with node, but the users don't have node installed in the machine, How I can do that with electron-sudo ?.

Is electron-sudo limited to run only commands available in the machine right ?, what if I want to run a node.js script with `electron-sudo` is that possible with something like `fork` ?

[2016-05-23 22:41] automation-stack commented on #11
@waltervargas https://github.com/electron/electron/blob/master/docs/tutorial/quick-start.md

[2016-05-23 22:41] #11 closed

[2016-05-23 23:23] marco-amoroso commented on #10
Thanks for getting back, much appreciated.

**Problem 1 - Error - Solved**
So I got around the `-s` flag by using this command instead:
`security find-generic-password -wa WifiName` 👍

**Problem 2 - Double Dialog**
Now I'm getting a double dialog, no error, when running that code.
- In my terminal I run `sudo -k` to remove any sudo access I have.
- I run the `Electron App`
- `sudo.exec` runs corre

[2016-05-27 07:27] jeremyrajan opened #12 "Command Failed on Windows"
Hi,

I am trying to update the host files on windows PC (via electron app), statement is pretty straight-forward:

[code]

After packing and running the app, it shows me: `Command Failed: The system cannot find the path specified`.`C:\Users\...\AppData\Local\Temp\batch-0.<random_num>.bat`.

Any idea why, it works well on unix. Its just windows.

Thank you! :)

[2016-05-27 08:59] jeremyrajan commented on #12
It seems like when I package the app using asar, it is not able to locate `elevate.exe`. Any idea, if thats the reason, or is there a way around :).

Thank you..

[2016-05-27 09:09] automation-stack commented on #12
@jeremyrajan try to put your command into separate shell script and execute it with sudo.
use piping or redirection symbols in subprocess command is not the best practice.

[2016-05-27 09:43] jeremyrajan commented on #12
Thank you!

Yeap! totally understand. But the problem is if i package the app using asar, the elevate.exe is not accessible. Is there a way, I can put a config for where elevate should then could be referenced in code. In this way, its much easier to manage especially if cross platform :)

[2016-05-27 10:32] automation-stack commented on #12
@jeremyrajan whether asar contains elevate.exe or this file is missing in archive?

[2016-05-27 10:52] automation-stack commented on #12
@jeremyrajan
Unfortunately in asar file exists limitation for binary executing

But we use child_process.exec. It will supported in new refactored version of module, but not in current :(

[2016-05-27 11:06] automation-stack commented on #10
@marco-amoroso

I think not, so it is impossible. Second dialog raise Keychain service based on current user policy.
Only the user can disable the password request for access to Keychain credentials.

But you can also hold elevated rights for application for further execution calls without password prompting with this simple technique

[code]

[2016-05-28 09:41] jeremyrajan commented on #12
@automation-stack

Ahh!! oh boy :(. So, need to stick to non-asar till new module is released then :). Any idea by when, you are planning on?

Thank you! 👍

[2016-05-28 13:21] automation-stack commented on #12
@jeremyrajan soon

[2016-05-30 13:53] #10 closed

[2016-06-19 00:26] DavidWells opened #13 "Path must be a string error"
Hello there. Thanks for the package!

I'm running into an issue when I package my electron application where this error shows:
![image](https://cloud.githubusercontent.com/assets/532272/16174508/a1f2929c-3579-11e6-9da9-f3be0b903baf.png)

The prompt works fine in dev mode but when packaging this Path error shows.

Any ideas what could be going on here?

Thanks

[2016-06-19 02:09] DavidWells commented on #13
My paths on the production build were broken!!! =P

[code]

Closing. Thanks for the package

[2016-06-19 02:09] #13 closed

[2016-06-27 20:49] claygriffiths commented on #12
Is this something you're looking into fixing soon? I've tried using asar unpack but I ran into issues with that as well.

If not, I'll try to do some digging and possibly send a PR.

[2016-06-28 07:58] automation-stack commented on #12
@claygriffiths

Can you replace Node.child.exec with Node.child.execFile in "child" function body and test it on your asar packages? This should help to solve the problem.

**electron-sudo**:index.js

[code]

[2016-06-29 13:11] jeremyrajan commented on #12
I actually tried it on asar package, but still doesnt work. It gives me below error:

[code]

On WIN it shows: `Invalid Package at app.asar` when it tries to execute electron-sudo=> index:130 LN

What you think? :)

[2016-06-29 13:21] automation-stack commented on #12
@jeremyrajan that is my mistake in snippet %(

We need use path to file and arguments list instead `sudoCmd`. I will make the patch in package as soon as I can.

[2016-06-29 14:41] jeremyrajan commented on #12
ahh right! thank you :)

[2016-06-29 20:52] cgalvarez opened #15 "Error message not corresponding to real error"
[Here](https://github.com/automation-stack/electron-sudo/blob/master/index.js#L258) inside the `linuxExecute` function, the launched error message (`User did not grant permission`) may has nothing to do with the real error.

I'm using `electron-sudo` to request user permissions before installing a `.deb` package. Due to some errors from mine, when trying to execute the command `"/usr/bin/pkexec" -

[2016-06-29 23:12] automation-stack commented on #15
@cgalvarez

Yeah, it would be awesome!

[2016-06-30 10:27] #15 closed

[2016-07-15 06:39] creeperyang opened #17 "[question] why `>` redirection to a restricted file does not work?"
I want use the lib to replace `/etc/hosts` and it failed as described. Could you give more info?

And what's the better way to do it?

[code]

[2016-07-15 07:28] creeperyang commented on #17
I found https://github.com/jorangreef/sudo-prompt/issues/1 has a detailed discussion.

[2016-07-15 07:28] #17 closed

[2016-07-15 08:40] creeperyang opened #18 "Path error resulted from webpack bundle"
The lib report an error when I use webpack dev and bundle electron app:

[code]

When I dive in, I found the error is with:

[code]

The `module` is generated by webpack and has no `filename` property.

[2016-07-15 08:44] creeperyang commented on #18
There are two sentences with `module.filename` and I think they all can replaced with `__dirname`.

Since webpack can offer `__dirname` and wont include filenames (see https://github.com/webpack/webpack/issues/20), it's better to use `__dirname` instead. 😄

[2016-07-15 10:24] #18 closed

[2016-07-19 16:50] automation-stack commented on #12
@jeremyrajan @claygriffiths will be fixed in version 4.0 with full refactoring but with backward compartibility
https://github.com/automation-stack/electron-sudo/tree/4.0

[2016-07-19 16:50] #12 closed

[2016-07-20 01:59] ezekg opened #20 "Unexpected stderr from sudo command without corresponding error: sudo: a password is required"
I'm attempting to run this library on OS X 10.9.5 via an Electron app and am immediately getting the error below without being prompted for my password:

[code]

Yet it works fine on my MacBook running El Capitan. Any idea what would be causing this? The error message is rather cryptic. I'm able to run `sudo` from a terminal just fine. I'm just kind of stumped on the possible cause of the error.

[2016-07-20 02:04] automation-stack commented on #20
@ezekg hope it will be fixed in fully refactored version 4.0, wait a bit please
https://github.com/automation-stack/electron-sudo/tree/4.0

[2016-07-20 02:14] jeremyrajan commented on #12
Thanks @automation-stack :) Will give it a shot..

[2016-07-20 03:05] ezekg commented on #20
Okay, good to know. Is that a working branch? Is there any workaround I can implement until you're able to release the new version? Or do you happen to know the root cause so I can patch it?

[2016-07-20 03:22] automation-stack commented on #20
@ezekg probably sudo returns no `error` (based on process exit code and may differs on different version of platform) but write error message to `stderr`, you can remove checking error from if condition

[code]

[2016-07-20 03:59] ezekg commented on #20
Yeah, I saw that. Do you know why it wouldn't prompt for a password?

[2016-07-20 11:02] automation-stack commented on #20
@ezekg try with `electron-sudo@3.0.13`

[2016-07-27 17:53] automation-stack commented on #20
@ezekg fixed in electron-sudo@4.0.*

[2016-07-27 17:53] #20 closed

[2016-07-28 08:49] jorangreef opened #22 "Honor the MIT license"
`electron-sudo` is a heavily refactored fork of [sudo-prompt](https://github.com/jorangreef/sudo-prompt) and still retains several portions of copyrighted content copied verbatim from there.

`electron-sudo` used to include the `sudo-prompt` license, but this has recently been removed, along with all reference to `sudo-prompt`.

I would appreciate it if you continue to honor the MIT license terms

[2016-07-28 10:43] automation-stack commented on #22
@jorangreef At this moment electron-sudo uses only adopted from sudo-prompt bundled applet. I added a link to author, thanks for the tip.

[2016-07-28 10:56] jorangreef commented on #22
@automation-stack I can point you to several other places where you are using `sudo-prompt` content without including the required MIT license. Your inclusion of any content whatsoever is enough to obligate you to include the entire MIT license file as directed.

[2016-07-28 11:07] automation-stack commented on #22
@jorangreef Please point to me all other places where electron-sudo uses sudo-prompt content, i will fix this.

[2016-07-28 11:46] automation-stack commented on #22
@jorangreef Added MIT license for adopted component
https://github.com/automation-stack/electron-sudo/tree/master/src/bin/applet.app

[2016-07-28 11:50] jorangreef commented on #22
Thanks, I see you've now removed the `Concurrency` section from the README. There is still https://github.com/automation-stack/electron-sudo/blob/master/src/lib/sudoer.js#L114 but you're welcome to it. All the best with your open source work.

[2016-07-28 11:50] #22 closed

[2016-07-28 11:53] automation-stack commented on #22
@jorangreef Yes, concurrency approach in electron-sudo was changed to separate prompt on each call on all supported platforms.

[2016-08-15 13:54] sergeybekrin opened #24 "electron-sudo fails to copy applet.app to tmp directory on macOS"
Full error:
[code]

I guess this happens because of non-absolute [path to applet.app](https://github.com/automation-stack/electron-sudo/blob/master/src/lib/sudoer.js#L188) executable.

[2016-08-15 15:04] automation-stack commented on #24
@sergeybekrin can you show code snippet where error occured?

[2016-08-15 15:24] automation-stack commented on #24
@sergeybekrin try electron-sudo@4.0.3

[2016-08-15 16:00] sbekrin commented on #24
@automation-stack same error on 4.0.3

Simplified code is:

[code]

[2016-08-15 19:22] automation-stack commented on #24
@sergeybekrin seems to me it's `webpack` feature or issue, i will fix it

[2016-08-15 20:49] sbekrin commented on #24
@automation-stack I did also notice that `__dirname` points to `./src/lib` instead of module root. May it be related?

[2016-08-15 22:51] automation-stack commented on #24
@sergeybekrin try again with `electron-sudo@4.0.5`, it works well for me

[2016-08-15 23:39] sbekrin commented on #24
@automation-stack same error, but path now is `/bin/applet.app`. I can confirm running `npm test` in `electron-sudo` works fine, but once I'm trying to use it in project `__dirname` being replaced with `/` instead of path to module (like `/Project/node_modules/electron-sudo/dist/bin/applet.app`).

Can you share webpack configuration for app which uses `electron-sudo` itself?

[2016-08-16 08:07] automation-stack commented on #24
@sergeybekrin
do you use `asar` package? if not please try uninstall all version of module then install again, it should works well.

[2016-08-16 08:07] automation-stack commented on #24
https://github.com/automation-stack/electron-sudo/blob/master/webpack/config.babel.js

[2016-08-17 12:48] sbekrin commented on #24
@automation-stack Took me awhile to realise what `__dirname` polyfill where missing in `electron-renderer` webpack configuration (I'm using webpack to build both `main` and `renderer` process bundles).

Thanks a lot!

[2016-08-17 12:48] #24 closed

[2016-08-17 16:10] sergeybekrin opened #25 "[question] How to kill spawned process"
Consider this code snippet:

[code]

Since `sudoer.spawn` spawns new process under root, above code will cause `EPERM` error.
So, is it possible to kill that process without re-prompting password?

[2016-08-17 16:21] automation-stack commented on #25
@sergeybekrin

It's possible only on OSx but on all platforms `electron-sudo` uses uniform approach and force ui prompting after each call.

https://github.com/automation-stack/electron-sudo/blob/master/src/lib/sudoer.js#L134

[2016-08-22 16:05] sbekrin commented on #25
I ended up with killing processes by PID via `sudoer.exec`.
`taskkill /pid ${pid} /T /F` for Windows and `pkill -TERM -P ${pid}` for Linux and macOS.

I think it's a good idea to somehow check if sudo is not expired and skip double prompting.

@automation-stack what do you think?

[2016-08-22 17:41] automation-stack commented on #25
@sergeybekrin Unfortunately on `win32` UAC password caching is impossible and in `electron-sudo` `sudo` uses only on Mac OS, on Linux uses `pkexec` or `gksudo` which not supports password caching.

[2016-09-02 18:31] automation-stack commented on #25
@sergeybekrin we have clarity on this issue or not?

[2016-09-15 11:12] #25 closed

[2016-09-17 19:45] mnewmedia opened #26 "Usage without transpiler and or es7 support"
So I got it working like this, but is this even supported or did I hack something togheter? :)
I'm not really into this new stuff..
If it's ok to do it like that maybe add it to the docs?
[code]

[2016-09-29 20:03] soichih opened #27 "_context25.sent.filter is not a function"
I have something like following code.

[code]

When I run it, I get following error message

[code]

[2016-10-05 13:16] soichih commented on #27
I've switched to sudo-prompt which seems to work better than electron-sudo. sudo-prompt also doesn't use the odd ES6 syntax that new electron-sudo uses (and doesn't work on my app..)

[2016-10-05 13:53] automation-stack commented on #27
@soichih can you provide ./runasroot.sh content?

[2016-10-16 15:25] #27 closed

[2016-10-16 15:28] automation-stack commented on #26
@mnewmedia ok, nice, i will add you, sorry for long time answer

[2016-10-16 15:44] automation-stack commented on #26
@mnewmedia https://github.com/automation-stack/electron-sudo/commit/84ba935aad389effbbd303b313cf3292eda55ddb

[2016-10-16 15:44] #26 closed

[2016-10-17 08:03] JulianKnodt opened #28 "Prompt is giving EISDIR error and Console is giving password required Error"
Whenever I try to spawn a command with the sudoer, it gives me an error after I type my password that:
Error: EISDIR: illegal operation on a directory, open '/var/db/sudo/julianknodt'
at Error (native)

but it looks like it spawns the process. It's just frustrating that the error occurs even though it seems to work.

![screen shot 2016-10-17 at 12 52 48 am](https://cloud.githubusercontent.com/asse

[2016-10-17 09:50] automation-stack commented on #28
@JulianKnodt First of all, we can't know whether spawned command is correct until we try to run it with sudo. And if we got spawn failed, `cp` (`ChildProcess` instance) have no output because process was not spawned at all

[2016-10-17 15:52] JulianKnodt commented on #28
I guess it wasn't spawned then, because stdout is giving nothing and stderr just says: sudo: a password is required. I'm just going to close this for now

[2016-10-17 15:52] #28 closed

[2016-10-26 09:18] zh99998 opened #30 "bad touch"
just got this error:

[code]

my code:

[code]

and I got a "success" and a child_process instance (with exit code=1 and stderr `"sudo: a password is required"` ).

`/var/db/sudo/zh99998` is exists and it's a empty directory

macOS Sirra 10.12.1
npm 3.10.7
node v6.6.0

[2016-10-26 09:40] zh99998 commented on #30
ohh.. I know. seems it conflicts with `touch` package since npm make `node_modules/.bin` in `PATH`.

[2016-10-26 09:52] zh99998 commented on #30
well, it still not works.
I run electron as `./node_modules/.bin/electron .` instead of `npm start` then there is no "bad touch" error but still don't run child process. returned child_process is still exit-code=1 and `"sudo: a password is required"` stderr.

I've tried remove `/var/db/sudo/zh99998` directory manually. after a sudo.spawn call, it will re-generate, and still a empty directory.

[2016-10-26 09:59] automation-stack commented on #30
@zh99998 Does password prompt appears when you spawn process?

[2016-10-26 10:00] zh99998 commented on #30
@automation-stack yes it appears.

[2016-10-26 10:08] automation-stack commented on #30
@zh99998 i have no idea, password may be incorrect? otherwise spawn must works correctly as expected.

[2016-10-26 12:40] zh99998 commented on #30
@automation-stack password is correct (otherwise the prompt window will give message and wont close)

in sudoers.js L159-L160
https://github.com/automation-stack/electron-sudo/blob/master/src/lib/sudoer.js#L159-L160

[code]

it runs `applet.app` to prompt, and then do nothing... and then executed a `sudo` directly via shell...
......is there somethings wrong? what does applet.app do?
I think there

[2016-10-26 13:00] automation-stack commented on #30
@zh99998 you can try to run `npm i && npm run test` in `electron-sudo` directory, let me know what's going on

[2016-10-26 13:03] zh99998 commented on #30
[code]

both test shows password prompt and I've input correct password

[2016-10-26 13:10] automation-stack commented on #30
@zh99998 obviously, it's platform specific shell issue, I do not have on hand this Darwin version :(

[2016-10-26 13:29] zh99998 commented on #30
well I find that jorangreef/sudo-prompt will works......
but that code is quiet messy.......

[2016-10-26 18:07] allisoneer commented on #30
@automation-stack Why close this issue? It looks like it's an issue with electron-sudo not the specific shell, and this is most up to date Mac OS so it will be the OS that needs to be supported going further. This is actually two different issues happening.
1. Password not being passed from the prompt that pops up to the shell.
2. Environment variables not being given to shell correctly.
If you ha

[2016-10-26 19:32] automation-stack commented on #30
@Allieway it's only Darwin (Sierra) issue, I will see the reason one of these days

[2016-10-27 02:24] zh99998 commented on #30
@Allieway yes i need interact with the child process, so I have to do unixsock/namedpipe ipc manually and painfully if use that.....

hope this project could be fixed on Sierra soon

[2016-10-28 14:01] zh99998 opened #31 "works with electron-builder"
It can't run with electron-builder dist package
[Imgur](http://i.imgur.com/27bWBGa.png)

in fact, this executable is in
`/Users/zh99998/mycard/dist/mac/MyCard.app/Contents/Resources/app.asar.unpacked/node_modules/electron-sudo/dist/bin`

notice `app.asar.unpacked`
during packaging, it says:
`node_modules/electron-sudo is not packed into asar archive - contains executable code`
and then leaves it i

[2016-10-28 23:37] automation-stack commented on #31
@zh99998 it's actual problem, need to investigate this

[2016-11-04 01:23] facekapow opened #33 "Cannot find module `regenerator-runtime`"
When trying to run an Electron app that uses this, it complains about not being able to find `regenerator-runtime`. Inspecting the code of `dist/index.js` reveals that this is true, `regenerator-runtime` is required but not depended upon.

~~Ok, that's fine, I just installed `regenerator-runtime` manually. Except, now it's throwing because it can't read `Math` from null. Once again, inspecting `di

[2016-11-04 11:36] facekapow commented on #33
Nevermind, it was my fault, I had some dead code that was settings `global.window` to `null`.

[2016-11-04 11:37] facekapow commented on #33
However, on fresh installs, `regenerator-runtime` isn't depended upon, so that's still an issue.

[2016-11-04 11:41] automation-stack commented on #33
@facekapow `regenerator-runtime` is a `devDependency`, from package `babel-plugin-transform-regenerator`, it's added in appropriate `package.json` section

[2016-11-04 11:57] facekapow commented on #33
It's required at runtime, it should be a regular dependency; `npm` doesn't install `devDependencies` when you do `npm install <pkg>`.

[2016-11-04 13:54] automation-stack commented on #33
@facekapow `regenerator-runtime` not correctly packed with `webpack`, need to investigate it

[2016-11-04 14:35] automation-stack commented on #33
@facekapow https://github.com/automation-stack/electron-sudo/commit/24544fee74e5eb9c97495d6ff81aad5910356ac3

[2016-11-05 05:46] zh99998 opened #35 "feature request: fork call and IPC"
sometimes we want to execute elevated JavaScript script instead of external process.
if there is something like child_process.fork() call, it will be great.

documents about node.js native fork and ipc:

https://nodejs.org/api/child_process.html#child_process_child_process_fork_modulepath_args_options

note that spawn support IPC too, just specific it in stdio

https://nodejs.org/api/child_process

[2016-11-05 20:03] automation-stack commented on #35
@zh99998 looks good, i'll add it soon

[2016-11-09 12:21] eric-cheung opened #38 "require input password everytime"
i think it will be better if input password once, and can use many times,  just like in a unix shell.

[2016-11-09 12:27] automation-stack commented on #38
Welcome your PR %)

https://github.com/automation-stack/electron-sudo/blob/master/src/lib/sudoer.js#L134
You can add it something like that, works only on `darwin` and `linux`. And don't forget update README docs

[code]

[2016-11-09 12:48] GeekerEric commented on #38
please wait.

[2016-11-29 23:04] automation-stack opened #39 "Support for sudo with `tty-tickets` enabled (MacOS Sierra by default)"
https://derflounder.wordpress.com/2016/09/21/tty_tickets-option-now-on-by-default-for-macos-sierras-sudo-tool/

[2016-11-29 23:07] automation-stack commented on #30
Will fix after this is resolved: https://github.com/automation-stack/electron-sudo/issues/39

[2016-11-29 23:07] #30 closed

[2016-12-08 00:46] Comee opened #40 "elevate.exe Error in Windows XP (x86) : Not a valid win32 application"
![qq 20161208084306](https://cloud.githubusercontent.com/assets/5416227/20992973/8eeebbb8-bd22-11e6-8ba3-fad1a5f15c1f.png)

[2016-12-10 17:34] automation-stack commented on #40
You can build x86 version and add support it in `electron-sudo` code, welcome PR :)

https://github.com/automation-stack/electron-sudo/tree/master/src/vendor/win32

[2016-12-27 00:07] strin opened #42 "Cannot build with `npm i`"
I cloned the repo and run `npm i` under the project dir. but i got

[code]

[2017-01-24 23:33] Cwright017 opened #43 "End process"
Is it possible to end the spawned process?

[2017-01-31 21:02] ZackMattor commented on #39
Hello! Just want to check if this is the issue i'm hitting. I have a simple app just trying to test out electron-sudo. Here is my code and the output. Running on MacOS Sierra.

[code]

[code]

[2017-02-06 09:35] hieund-hblab opened #44 "Module Not-found when build release version"
I use electron-sudo to my project, it work fine when start app on dev with command `npm start`.
But when I use `npm run release` to build release version (OSX) DMG file, when open app (after install) have error:  Module `electron-sudo not found`.  Another module was work fine.
Please support me, thank so much!

[2017-02-06 19:35] automation-stack commented on #44
it is very difficult to say something on the basis of these data, sorry

[2017-02-06 19:50] automation-stack commented on #43
@Cwright017 yes, you can kill process group of you spawned process with electron-sudo. this package very helpful [tree-kill](https://github.com/pkrumins/node-tree-kill )

[2017-02-06 19:50] #43 closed

[2017-02-07 03:13] hieund-hblab commented on #44
hey @automation-stack,
This image is error alert when I open app was developed by electron used your module (electron-sudo)
![image](https://cloud.githubusercontent.com/assets/21049013/22676427/f064b2fa-ed1d-11e6-9607-54c954b06853.png)
Please help me, thanks!

[2017-02-14 00:35] bil-elmoussaoui opened #45 "Use pkexec as first option instead of gksudo"
gksudo is a dead project now....
pkexec shows a nice prompt (which is quite the opposite of what you're saying in the src files and the reason why i didn't create a PR)
pkexec
![screenshot from 2017-02-14 01-32-53](https://cloud.githubusercontent.com/assets/7660997/22909669/b84edf20-f255-11e6-9daf-9ee669767061.png)
gksudo
![screenshot from 2017-02-14 01-34-13](https://cloud.githubusercontent.com/a

[2017-02-21 04:07] ItsHarper commented on #44
You probably saved electron-sudo to your `devDependencies` in package.js. Those aren't included with the release version, which is why it can't be found. Put it in `dependencies` instead to fix the problem. Hope that helps!

[2017-02-26 23:13] zzuhan opened #46 "Cannot find module 'regenerator-runtime'"
I use Sudoer with Vanila JS, but it will report error Cannot find module 'regenerator-runtime', when I install this package, it running normal.

I find in dist/index.js, require("regenerator-runtime") in secod line.

[2017-02-27 04:04] automation-stack commented on #46
Same issue - https://github.com/automation-stack/electron-sudo/issues/33, fixed

[2017-02-27 04:04] #46 closed

[2017-02-27 04:05] automation-stack commented on #45
@bil-elmoussaoui will fix it in new release

[2017-03-04 13:07] igor-lemon commented on #39
@automation-stack Hi Aleksandr. Do you have any ideas how to fix that?

[2017-03-04 13:09] automation-stack commented on #39
@igor-lemon yes, it will be fixed soon, `sudo` will become not required for `electron-sudo`

[2017-03-04 13:11] igor-lemon commented on #39
Cool. Thank you. I'm looking forward changes. :)

[2017-03-10 18:36] justechn commented on #39
So is this completely broken on MacOS Sierra or can it still be used? Do you have an ETA on the fix?

[2017-03-14 03:43] SuperMasterBlasterLaser opened #49 "TypeError: Cannot call a class as a function"
I have made simple lines of code:

    Sudoer = require('electron-sudo').default;

    var sudo = Sudoer({name: 'test'});
    var result = sudo.spawn('dir').then(function (cp) {
        console.log(cp.output.stdout)
    });

And this gave me that kind of error:

    D:\Phantasy star\Mobi\Daniars_Project\Node\sudotest\node_modules\electron-sudo\dist\index.js:2
    })})}));case 1:case"end":return t.

[2017-03-14 04:06] SuperMasterBlasterLaser commented on #49
OK I have forgotten to add `new` word to my code. Then it throws this error:

<Buffer >
(node:15540) DeprecationWarning: Calling an asynchronous function without callback is deprecated.
(node:15540) DeprecationWarning: Calling an asynchronous function without callback is deprecated.

![12](https://cloud.githubusercontent.com/assets/8684688/23885524/e2a6bc30-089d-11e7-9f4e-5fa6246f027f.PNG)

[2017-03-14 15:46] justechn commented on #39
@automation-stack So is this completely broken on MacOS Sierra or can it still be used? Do you have an ETA on the fix?

[2017-03-14 15:48] automation-stack commented on #39
@justechn working hard on this issues, details will follow

[2017-03-15 02:22] automation-stack commented on #49
Any details about your platform?

[2017-03-15 02:24] automation-stack commented on #38
Due to remove `sudo` usage from module all subprocess call will force require input password everytime

[2017-03-15 02:24] #38 closed

[2017-03-15 05:44] SuperMasterBlasterLaser commented on #49
@automation-stack

node 7.7.1

Windows 10 64-bit

[2017-03-19 04:45] SuperMasterBlasterLaser commented on #49
@automation-stack Any solutions?

[2017-05-08 00:10] miguelmota opened #50 "sudo: a password is required"
Running example code doesn't work

index.js

[code]

output

[code]

Would appreciate it if someone can point me in the right direction.

Thanks!

[2017-05-09 14:00] davydany commented on #50
You're probably on a Mac, and your ticket sounds like its related to this: https://github.com/automation-stack/electron-sudo/issues/39 Basically Mac's `tty-tickets` feature is causing an issue with this library.

`electron-sudo` is great, but the devs haven't fixed this yet :cry:

I've instead started to use the workaround with `sudo-prompt`. https://www.npmjs.com/package/sudo-prompt

This is what

[2017-06-06 21:26] treyreynolds commented on #39
Any chance this is fixed? I have been using sudo-prompt but it is actually quite poor in that it doesn't give you access to the underlying child process after it is created.

[2017-06-11 11:56] #40 closed

[2017-07-03 16:13] rameerez commented on #39
Same issue here. macOS Sierra 10.12.5.

[2017-07-12 11:30] DSBalaban commented on #39
Would also love to see this working again. If there's anything we can do to help, let us know!
I'd jump in to fix it, but I have little idea where to start.

[2017-07-12 11:35] automation-stack commented on #39
@DSBalaban the idea is to refuse to use `sudo` in this package, I'm working on this

[2017-07-12 12:38] #44 closed

[2017-07-12 13:53] rameerez opened #52 "Problem (+ solution) when signing electron app using electron-sudo"
I've had problems when signing my electron app for distribution in macOS. App signing and distribution is still a new world to me, so I will try my best to explain what was happening and how I fixed it.

I was using `electron-builder` to build my app for macOS. `electron-builder` needs to pack the app as an `.asar` file, files inside the `.asar` package are not a problem. The thing is it needs to

[2017-07-12 14:02] automation-stack commented on #52
@rameerez in version `5.0` `LICENSE` will be removed.

[2017-07-12 14:09] automation-stack commented on #31
@zh99998 will get support in version `5.0` with `"asar-unpack"` in `package.json`

[2017-07-12 14:26] automation-stack commented on #50
Duplicated https://github.com/automation-stack/electron-sudo/issues/39

[2017-07-12 14:26] #50 closed

[2017-07-12 14:27] automation-stack commented on #49
@SuperMasterBlasterLaser seems not related with `electron-sudo`

[2017-07-12 14:27] #49 closed

[2017-07-13 10:25] eriklarko opened #53 "Passing the result of `fs.stat` to `child_process.spawn`"
When I run the example in the README (without await) I get the following output:
[code]

&nbsp;
The code in its entirety is:
[code]
&nbsp;

After poking around a little in the source code I found that the `getBinary` method of `SudoerLinux` returns the result from `stat` in `src/lib/utils.js` which is an [fs.Stats](https://nodejs.org/api/fs.html#fs_class_fs_stats) object. This object is then passe

[2017-07-13 14:56] philroyer commented on #33
I'm having this issue using Vanilla Javascript implementation.

**Version**: 4.0.12
**Electron Version**: 1.6.11

[code]

[2017-07-13 14:56] eriklarko commented on #53
Ah, I did not see https://github.com/automation-stack/electron-sudo/pull/41 :) I'll patch that in then

[2017-07-13 15:00] automation-stack commented on #33
@littletinman did you run `npm i` in your project directory? `babel-runtime` now is bundled as dependency

[2017-07-13 15:04] philroyer commented on #33
@automation-stack I ran ```npm i``` but nothing was shown, I ended up just running ```npm install regenerator-runtime --save``` and that solved the problem.

[2017-07-20 12:31] eriklarko commented on #39
I ran into the same issue and made it work on Sierra at least by using `osascript`.

The change is hacky but might help someone running into this problem, https://github.com/eriklarko/electron-sudo/commit/f71134f86541b15359f4813715d721818fb2b1f4

[2017-07-22 02:26] robsontenorio commented on #39
@eriklarko i think you should post a PR to @automation-stack  :)

[2017-07-24 11:32] pronebird commented on #52
Same error here. Is there any plan to have a minor bump? Unable to build my app. Thanks!

[2017-07-26 00:16] rameerez commented on #52
@pronebird workaround: ```npm install```, then manually delete both files ```node_modules/electron-sudo/dist/bin/applet.app/README``` and ```node_modules/electron-sudo/dist/src/bin/applet.app/README```, then try to build your app again.

You'll need to do this again every time npm rewrites ```node_modules/electron-sudo```, but hey, at least you can build your app.

[2017-08-02 08:27] imdreamrunner commented on #24
@sergeybekrin I was having a similar issue. But my issue is the applet cannot be copied from `asar` package. Can we use asar with electron-sudo? Many thanks!

[2017-08-02 09:21] imdreamrunner commented on #39
Personally I feel the `osascript ` idea is a bit too hack-ish. Really looking forward to @automation-stack 's fix.

[2017-08-21 04:51] wle8300 commented on #33
I had this problem. I'm using a Mac so I had to open another tab in Terminal.app. You can just restart Terminal to be doubly sure.

[2017-08-23 16:09] gniezen commented on #31
Any update on when version `5.0` will be released?

[2017-09-05 10:25] pronebird opened #54 "Update npmignore to exclude redundant assets from distribution"
When bundled `electron-sudo` includes duplicate assets, sources, same binaries twice and screenshots. Please update `.npmignore` to exclude redundant assets from distribution.

[2017-10-16 02:16] nicbarker commented on #52
@rameerez Just an FYI for googlers the files you need to delete at present are `LICENSE` rather than `README`

[2017-10-19 03:54] zyairzy opened #56 "about windows usage"
I follow the usage (Version 4.0.*) , and I use electron-sudo@4.0.12 , my test.js is below:

var Sudoer = require('electron-sudo').default;
let options = {name: 'electron sudo application'};
var sudoer = new Sudoer(options);

sudoer.spawn('cmd.exe', ['echo', 'hello']).then(function (cp) {
  cp.stdout.on('data', (msg) => {
    console.log('Looks like we have a message on STDOUT');
    console.log(er

[2017-10-19 06:37] #56 closed

[2017-10-19 09:39] pronebird opened #57 "sudo.spawn does not support paths with spaces but it should"
it seems that sudo.spawn does not escape anything and maybe it should not.

[2017-10-19 10:28] #57 closed

[2018-01-12 16:50] PearlDragon commented on #49
Necropost for google search - @SuperMasterBlasterLaser, @automation-stack the initial error appears to be a syntax error.
However both subsequent errors are definitely related to electron-sudo. In particular when elevate.exe is not found initially sudoer.js creates an "elevate.exe" which is 0 bytes in length in the temp folder. Future invocations will give you the "This app can't run on your PC er

[2018-01-12 18:12] PearlDragon opened #58 "npm install fails with 'node_modules' is not recognized as an internal or external command"
npm install and test fail during webpack calls due to missing node command

[2018-02-09 11:52] pronebird commented on #40
I have the same issue.

[2018-02-09 12:04] pronebird commented on #39
@imdreamrunner yeah but how's that any different from using sudo and what difference does it make if electron-sudo is broken for over 6 months..

[2018-03-09 02:02] boid-com commented on #50
I also would like a fix for this one. Will switch to sudo-prompt until then.

[2018-03-09 02:28] miguelmota commented on #50
If you require sudo prompt on mac then this is all you really need:

[code]

[2018-04-01 08:08] xtay315 opened #60 "on macox can show the prompt dialog, but no effect for 'touch /ect/baby' command"
on macox can show the prompt dialog, but no effect for  'touch /ect/baby' command

[2018-04-08 02:30] #60 closed

[2018-05-09 17:10] franciscop opened #61 "Command fails in Ubuntu"
This is the error I'm getting:

[code]

The relevant part is that the command received is literally `[object Object] undefined ls ~/`, when I'm passing `ls ~/`. No prompt ever appears.

Minimal example to reproduce:

[code]

***

Digging deeper and into the minified code+correlating it with the unminified code, I added a couple of logs to debug it:

[code]

Now the interesting part is here:

[code

[2018-05-09 17:21] franciscop commented on #61
An way better solution would be to just check whether it exists or not and get the first that exists:

[code]

[2018-05-14 13:26] duongtungls opened #62 "Error Uncaught Exception: TypeError: Sudoer is not a constructor"
I use example code on Electron main thread but get back error
**Uncaught Exception: TypeError: Sudoer is not a constructor**
[code]
Please help figure out where is problem. thanks

[2018-05-19 17:34] duongtungls opened #63 "Version 4 example in ES5"
Hello, I try to convert your example from ES6 to ES5, but it's not work.
`import Sudoer from 'electron-sudo';

let options = {name: 'electron sudo application'},
    sudoer = new Sudoer(options);

/* Spawn subprocess behavior */
let cp = await sudoer.spawn(
  'echo', ['$PARAM'], {env: {PARAM: 'VALUE'}}
);
cp.on('close', () => {
  /*
    cp.output.stdout (Buffer)
    cp.output.stderr (Buffer)
  */

[2018-05-25 17:16] nabil1337 commented on #63
The `(Buffer)` part in

      /*
        cp.output.stdout (Buffer)
        cp.output.stderr (Buffer)
      */

was used to indicate that the type of `cp.output.stdout` and `cp.output.stderr` is `Buffer`. It is not valid/working JS here, therefore you can't just uncomment it without getting an error. You are trying to call it.

[2018-06-13 19:55] thiagorova opened #65 "help needed: running a script"
Error report

Hi!
first of all, thanks a lot for this cool package.
I've been struggling for the past hour over something that I thought would be pretty simple... running a script using electron sudo, rather than just a command.
All of my attempts not only do nothing but the callbacks returns this error:

Here's what I tried:

Os: macOS Sierra,
electron version: 2.0.2
electron-sudo version: 4.0.12

[2018-09-06 11:54] juleskreutzer commented on #62
require('electron-sudo').default

[2018-10-04 16:35] wemteqdev commented on #39
Is electron-sudo still maintaining? any updates for this issue?

[2018-10-11 07:19] ccrsky opened #66 "DEP0005: Buffer() constructor"
The Buffer() function and new Buffer() constructor are deprecated due to API usability issues that can potentially lead to accidental security issues.

[2018-11-21 15:11] pleerock commented on #38
so, this can't be implemented at all?

[2018-12-26 03:49] SupremeTechnopriest commented on #31
@automation-stack Is this project abandoned?

[2019-02-02 04:59] luscas commented on #33
[code]

[2019-09-18 11:48] chaserstrong opened #68 "on macox can show the prompt dialog, but no effect for 'touch /ect/baby' command"
on macox 10.13.4 (17E199) can show the prompt dialog, but no effect for 'touch /etc/baby' command. I doesn't find baby file in folder etc.
I don't know why #60 was closed. But i have this issue recently.

[2020-07-31 10:27] smeletis opened #69 "The "file" argument must be of type string. Received type object"
[code]

Throws this error
[code]

Using
[code]
does not solve the problem :bug:

[2020-11-11 16:50] t1gor commented on #68
I guess I might be having a similar issue - `spawn` call for dialog, I enter password and then I get the following error:

[code]

Here's my code if it helps, but I just followed the manaul:

[code]

[2020-11-11 17:10] t1gor commented on #68
Ok, seems like we should have been calling it differently:

`sudoer.spawn('echo', ['Hello'])`

Please disregard my comment above.

[2021-02-02 17:48] peterupton commented on #69
This error also affects me, and also happens when using sudoer.exec.

[2021-02-02 17:50] peterupton commented on #69
Looks like it might have been fixed in this pr: https://github.com/automation-stack/electron-sudo/pull/41

[2021-02-02 20:01] peterupton commented on #69
I attempted to merge some of the prs myself here: https://github.com/peterupton/electron-sudo

[2021-04-15 17:08] gs3bopar commented on #33
When using ```npm install --save-dev @babel/plugin-transform-runtime```, you need to have ```npm install --save @babel/runtime``` as a production dependency.

If this doesn't work for you try clearing the npm cache and then do ```npm install```. See if that fixes your problem.

For more information look here: https://babeljs.io/docs/en/babel-plugin-transform-runtime

[2021-06-03 09:02] hwanginyeop commented on #52
I have same issue. Inevitably, I use other package. [ sudo-prompt](
https://github.com/jorangreef/sudo-prompt).

[2021-08-22 08:43] #61 closed

[2021-12-14 16:46] XDGFX commented on #62
I had to use

[code]

There was nothing to unpack when using `const { Sudoer } = ...`

[2022-02-01 11:23] Paula2001 commented on #69
will still facing the issue in 2022

[2022-09-20 20:36] actuallymentor commented on #52
For googlers landing here, you can specify an 'afterPack' hook that cleans up these files in your `package.json`:

[code]

And do something along the lines of:

[code]

You'll have to edit the file paths depending on how you're building and whether you are using `electron-sudo` or `sudo-prompt`.